# OpenBB Data Base

In [31]:
from openbb import obb
from openbb_core.provider.standard_models.financial_ratios import (FinancialRatiosData, FinancialRatiosQueryParams,)
import pandas as pd

stocks = ["AAPL", "MSFT", "GOOGL", "AMZN", "TSLA", "META", "NFLX", "NVDA", "BRK.B", "V",
            "JPM", "JNJ", "PG", "UNH", "HD", "MA", "DIS", "PYPL", "PFE", "KO"]


ratios = [
    "gross_margin", "operating_margin", "net_margin", "roe", "roce",  # Profitability
    "asset_turnover", "inventory_turnover", "receivables_turnover", "operating_cycle",  # Eficciency
    "current_ratio", "quick_ratio", "debt_to_equity", "interest_coverage",  # Liquidity and Solvency
    "price_to_fcf"  # Valuation
]

In [32]:
all_companies = obb.equity.search("", provider="sec")
len(all_companies.results)

9708

In [36]:
all_companies.to_df().head()

  symbol            name      cik
0   AAPL      Apple Inc.   320193
1   MSFT  MICROSOFT CORP   789019
2   NVDA     NVIDIA CORP  1045810
3   AMZN  AMAZON COM INC  1018724
4  GOOGL   Alphabet Inc.  1652044

In [61]:
metrics = obb.equity.fundamental.metrics(stocks)

In [78]:
df = metrics.to_df()

In [79]:
df.head()

,symbol,market_cap,pe_ratio,forward_pe,peg_ratio_ttm,enterprise_to_ebitda,earnings_growth,earnings_growth_quarterly,revenue_per_share,revenue_growth,...,price_to_book,enterprise_value,overall_risk,audit_risk,board_risk,compensation_risk,shareholder_rights_risk,beta,price_return_1y,currency
0,AAPL,3.540784e+12,37.413490,28.364017,2.1851,26.117,0.101,0.071,25.974,0.040,...,53.110634,3587181641728,1.0,7.0,1.0,3.0,1.0,1.178,0.395045,USD
1,MSFT,2.974949e+12,32.272790,26.768066,1.7709,20.559,0.102,0.102,35.224,0.123,...,9.829597,2920273936384,3.0,9.0,5.0,3.0,2.0,0.914,-0.033525,USD
2,GOOGL,2.118159e+12,21.542965,19.306921,1.2365,15.568,0.309,0.283,28.413,0.118,...,6.498009,2015994839040,10.0,8.0,7.0,10.0,10.0,1.025,0.300761,USD
3,AMZN,2.211104e+12,37.797100,33.925200,1.7185,18.378,0.846,0.883,60.915,0.105,...,7.728552,2214016319488,9.0,2.0,10.0,10.0,3.0,1.192,0.174572,USD
4,TSLA,8.829672e+11,134.563780,84.725340,3.8294,65.468,-0.709,-0.708,30.557,0.021,...,12.107890,852848279552,10.0,5.0,9.0,10.0,9.0,2.507,0.540954,USD

In [80]:
df.columns

Index(['symbol', 'market_cap', 'pe_ratio', 'forward_pe', 'peg_ratio_ttm',
       'enterprise_to_ebitda', 'earnings_growth', 'earnings_growth_quarterly',
       'revenue_per_share', 'revenue_growth', 'enterprise_to_revenue',
       'quick_ratio', 'current_ratio', 'debt_to_equity', 'gross_margin',
       'operating_margin', 'ebitda_margin', 'profit_margin',
       'return_on_assets', 'return_on_equity', 'dividend_yield',
       'dividend_yield_5y_avg', 'payout_ratio', 'book_value', 'price_to_book',
       'enterprise_value', 'overall_risk', 'audit_risk', 'board_risk',
       'compensation_risk', 'shareholder_rights_risk', 'beta',
       'price_return_1y', 'currency'],
      dtype='object')

In [81]:
df.shape

(19, 34)