# OpenBB Data Base

In [29]:
from openbb import obb
from openbb_core.provider.standard_models.financial_ratios import (FinancialRatiosData, FinancialRatiosQueryParams,)
import pandas as pd

ratios = [
    "gross_margin", "operating_margin", "net_margin", "roe", "roce",  # Profitability
    "asset_turnover", "inventory_turnover", "receivables_turnover", "operating_cycle",  # Eficciency
    "current_ratio", "quick_ratio", "debt_to_equity", "interest_coverage",  # Liquidity and Solvency
    "price_to_fcf"  # Valuation
]

In [20]:
all_companies = obb.equity.search("", provider="sec")
len(all_companies.results)

9708

In [27]:
sec_df = all_companies.to_df()

In [28]:
sec_df.head()

  symbol            name      cik
0   AAPL      Apple Inc.   320193
1   MSFT  MICROSOFT CORP   789019
2   NVDA     NVIDIA CORP  1045810
3   AMZN  AMAZON COM INC  1018724
4  GOOGL   Alphabet Inc.  1652044

In [36]:
stocks = sec_df['symbol'].tolist()
stocks = stocks[:50]

In [37]:
from dotenv import load_dotenv
import os

key = os.getenv("PAT_OBB")
obb.account.login(pat=key)

In [ ]:
from pandas.errors import EmptyDataError

ratio_list = []

for stock in stocks:
    try:
        df = obb.equity.fundamental.ratios(stock, provider="fmp", limit=10).to_df() # limit=10 for 10 year historical data, however, the free plan only allows 5 years
        df['Stock'] = stock
        ratio_list.append(df)

    except EmptyDataError:
        print(f"No data found for the symbol {stock}")

    except Exception as e:
        print(f"Error with {stock}: {e}")


if ratio_list:
    ratio_df = pd.concat(ratio_list, ignore_index=True)
else:
    ratio_df = pd.DataFrame()

In [35]:
ratio_df = pd.concat(ratio_list, ignore_index=True)

ratio_df.head()

,period_ending,fiscal_period,fiscal_year,current_ratio,quick_ratio,cash_ratio,days_of_sales_outstanding,days_of_inventory_outstanding,operating_cycle,days_of_payables_outstanding,...,price_to_free_cash_flows_ratio,price_to_operating_cash_flows_ratio,price_cash_flow_ratio,price_earnings_to_growth_ratio,price_sales_ratio,dividend_yield,enterprise_value_multiple,price_fair_value,interest_coverage,Stock
0,2024-09-28,FY,2024,0.867313,0.826007,0.169753,61.832560,12.642571,74.475130,119.658477,...,32.122569,29.556381,29.556381,-45.937927,8.938229,0.004359,26.524727,61.372438,NaN,AAPL
1,2023-09-30,FY,2023,0.988012,0.944442,0.206217,58.075649,10.791292,68.866941,106.721468,...,27.068302,24.384808,24.384808,170.913493,7.032808,0.005574,22.068771,43.374791,29.062039,AAPL
2,2022-09-24,FY,2022,0.879356,0.847235,0.153563,56.400205,8.075698,64.475903,104.685277,...,21.888924,19.970097,19.970097,2.887190,6.186138,0.006084,19.520314,48.140340,40.749574,AAPL
3,2021-09-25,FY,2021,1.074553,1.022115,0.278449,51.390969,11.276593,62.667561,93.851071,...,26.397759,23.585141,23.585141,0.363486,6.707591,0.005896,21.253174,38.892865,41.190548,AAPL
4,2020-09-26,FY,2020,1.363604,1.325072,0.360710,49.787534,8.741883,58.529418,91.048190,...,26.556204,24.150233,24.150233,3.170889,7.097229,0.007227,26.279452,29.818270,23.072746,AAPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,2024-12-31,FY,2024,1.411158,1.082623,0.497512,48.597355,93.429086,142.026441,67.204264,...,111.446351,39.088935,39.088935,-0.106482,2.893297,0.027875,16.416792,18.506708,NaN,MMM
849,2023-12-31,FY,2023,1.070733,0.755508,0.387854,53.050702,95.255182,148.305884,64.102668,...,9.995352,7.578811,7.578811,0.032353,1.549110,0.065401,-9.122197,10.531820,-9.690021,MMM
850,2022-12-31,FY,2022,1.542371,0.978263,0.383808,48.326857,101.954035,150.280892,60.409474,...,14.770213,10.149734,10.149734,-50.244370,1.657868,0.059369,7.945437,3.842056,14.153680,MMM
851,2021-12-31,FY,2021,1.704815,1.153071,0.505147,48.109178,96.808992,144.918170,58.143655,...,14.696170,11.535724,11.535724,1.711831,2.432111,0.039773,10.343493,5.688119,11.176230,MMM
852,2020-12-31,FY,2020,1.885003,1.351661,0.583040,53.359589,93.178862,146.538450,56.294188,...,12.766253,10.404347,10.404347,0.812508,2.622746,0.040137,10.673665,6.527760,8.453686,MMM

In [39]:
ratio_df['Stock'].unique()

array(['AAPL', 'MSFT', 'NVDA', 'AMZN', 'GOOGL', 'META', 'BRK-B', 'TSLA',
       'TSM', 'AVGO', 'LLY', 'WMT', 'JPM', 'V', 'MA', 'XOM', 'COST',
       'ORCL', 'UNH', 'NFLX', 'PG', 'JNJ', 'NVO', 'HD', 'ABBV', 'BAC',
       'SAP', 'TMUS', 'BABA', 'KO', 'RCIT', 'ASML', 'CRM', 'CVX', 'CSCO',
       'WFC', 'PM', 'ABT', 'TM', 'AZN', 'MRK', 'IBM', 'LIN', 'NVS', 'GE',
       'MCD', 'ACN', 'HSBC', 'PEP', 'MS', 'AXP', 'DIS', 'ISRG', 'SHEL',
       'PLTR', 'T', 'TMO', 'BX', 'ADBE', 'GS', 'NOW', 'VZ', 'RTX', 'TXN',
       'QCOM', 'INTU', 'FMX', 'PGR', 'AMGN', 'RY', 'BKNG', 'SPGI', 'CAT',
       'AMD', 'PDD', 'HDB', 'UBER', 'BSX', 'SYK', 'BLK', 'MUFG', 'UNP',
       'SONY', 'PFE', 'DHR', 'NEE', 'C', 'EADSY', 'GILD', 'SNY', 'UL',
       'SCHW', 'TJX', 'SHOP', 'LOW', 'HON', 'CMCSA', 'TTE', 'FI', 'SBUX',
       'ADP', 'ARM', 'BA', 'DE', 'VRTX', 'BHP', 'AMAT', 'KKR', 'PANW',
       'SPOT', 'BMY', 'MDT', 'CFRUY', 'BUD', 'COP', 'MMC', 'HTHIY', 'NKE',
       'CB', 'APP', 'RTNTF', 'PLD', 'ADI', 'ETN', 'UBS', 'AIQUY', 'ANET',
       'LMT', 'MELI', 'TD', 'UPS', 'MU', 'WELL', 'RIO', 'SMFG', 'INTC',
       'ICE', 'SO', 'SAN', 'IBN', 'AMT', 'LRCX', 'MO', 'CRWD', 'WM',
       'ENB', 'KLAC', 'CME', 'DUK', 'MCO', 'ELV', 'RELX', 'SHW', 'BAM',
       'BNPQY', 'EQIX', 'ABNB', 'AON', 'GEV', 'AJG', 'BTI', 'IBKR', 'BN',
       'MDLZ', 'CI', 'PBR', 'BP', 'CTAS', 'DASH', 'PH', 'MMM'],
      dtype=object)

In [42]:
ratio_df.columns

Index(['period_ending', 'fiscal_period', 'fiscal_year', 'current_ratio',
       'quick_ratio', 'cash_ratio', 'days_of_sales_outstanding',
       'days_of_inventory_outstanding', 'operating_cycle',
       'days_of_payables_outstanding', 'cash_conversion_cycle',
       'gross_profit_margin', 'operating_profit_margin',
       'pretax_profit_margin', 'net_profit_margin', 'effective_tax_rate',
       'return_on_assets', 'return_on_equity', 'return_on_capital_employed',
       'net_income_per_ebt', 'ebt_per_ebit', 'ebit_per_revenue', 'debt_ratio',
       'debt_equity_ratio', 'long_term_debt_to_capitalization',
       'total_debt_to_capitalization', 'cash_flow_to_debt_ratio',
       'company_equity_multiplier', 'receivables_turnover',
       'payables_turnover', 'inventory_turnover', 'fixed_asset_turnover',
       'asset_turnover', 'operating_cash_flow_per_share',
       'free_cash_flow_per_share', 'cash_per_share', 'payout_ratio',
       'operating_cash_flow_sales_ratio',
       'free_cash_flow_operating_cash_flow_ratio', 'cash_flow_coverage_ratios',
       'short_term_coverage_ratios', 'capital_expenditure_coverage_ratio',
       'dividend_paid_and_capex_coverage_ratio', 'dividend_payout_ratio',
       'price_book_value_ratio', 'price_to_book_ratio', 'price_to_sales_ratio',
       'price_earnings_ratio', 'price_to_free_cash_flows_ratio',
       'price_to_operating_cash_flows_ratio', 'price_cash_flow_ratio',
       'price_earnings_to_growth_ratio', 'price_sales_ratio', 'dividend_yield',
       'enterprise_value_multiple', 'price_fair_value', 'interest_coverage',
       'Stock'],
      dtype='object')

In [46]:
ids = ratio_df['Stock'].unique().tolist()

In [62]:
df_list = []

for id in ids:
    try:
        price = obb.equity.price.historical(symbol=id, start_date="2020-01-01", provider="yfinance").to_df()
        price['Stock'] = id
        df_list.append(price)
    
    except EmptyDataError:
        print(f"No data found for the symbol {id}")

    except Exception as e:
        print(f"Error with {id}: {e}")


if df_list:
    price_df = pd.concat(df_list, ignore_index=False)
else:
    price_df = pd.DataFrame()

Could not get exchangeTimezoneName for ticker 'BHP' reason: 'chart'

1 Failed download:
['BHP']: YFTzMissingError('possibly delisted; no timezone found')

Error with BHP:
[Empty] -> No results found. Try adjusting the query parameters.

In [69]:
price_df = price_df.reset_index()

In [83]:
price_df = price_df[['date', 'Stock', 'close']]

In [84]:
ratio_df['period_ending'] = pd.to_datetime(ratio_df['period_ending'])
price_df['date'] = pd.to_datetime(price_df['date'])

/var/folders/n8/s5gn3hhs4z90dmrnk47r93fh0000gn/T/ipykernel_4775/1916267478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['date'] = pd.to_datetime(price_df['date'])

In [92]:
df = pd.merge(ratio_df, price_df, how='left', left_on=['period_ending', 'Stock'], right_on=['date', 'Stock'])